body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
  }
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacement vertical */
    align-items: center;
    width: 100%;

    height: 100vh; /* Prend toute la hauteur disponible */
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box; /* Inclut le padding dans les dimensions */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Ajout d'une barre de défilement si nécessaire */
  }
  
  .h1T{
    font-family: 'Times New Roman', serif;
  font-size: 40px;
  font-weight: bold;
    color: #6A7BA2;
    text-align: center;
    padding-top: 30px;
}
  select {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
  }
  
  video {
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  /* Design réactif */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    select {
      font-size: 0.9rem;
      width: 90%;
    }
  
    video {
      width: 90%;
    }
  }
