<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Environnemental</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="project img ftco-animate" style="background-image: url('/assets/img/sousMar.jpeg');">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a routerLink="/environmental">Sous Marin</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="project img ftco-animate" style="background-image: url('/assets/img/surTrr.jpeg');">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a routerLink="/environmentalSurTerre">Sur Terre</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="project img ftco-animate" style="background-image: url('/assets/img/surAir.jpg');">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a routerLink="/environmentalEnAir">En air</a></h3>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  