<nav id="navbar1" class="ftco-navbar-light navbar-expand-lg">
	<!-- Menu principal pour desktop et mobile -->
	<ul class="navbar nav-links" [class.active]="isMenuOpen">
	  <li><a routerLink="/home" (click)="closeMenu()"><i class="fa fa-home"></i> <span>Home</span></a></li>
	  <li><a routerLink="/page2" (click)="closeMenu()"><i class="fa fa-leaf"></i> <span>Environnemental</span></a></li>
	  <li><a routerLink="/social" (click)="closeMenu()"><i class="fa fa-users"></i> <span>Social</span></a></li>
	  <li><a routerLink="/cultural" (click)="closeMenu()"><i class="fa fa-paint-brush"></i> <span>Culturel</span></a></li>
	</ul>
  
	<!-- Icône du menu toggle pour mobile -->
	<div class="menu-toggle" (click)="toggleMenu()">
	  <span></span>
	  <span></span>
	  <span></span>
	</div>
  </nav>
  