<h1 class="h1T">Acceuil</h1>
<section class="team-section">

    <div class="team-container">
        <div class="team-card">
            <img src="/assets/img/25974-removebg-preview.png" alt="Nom du membre">
            <h3  style="color: #6A7BA2; text-decoration:underline ;">Culturel</h3>
        </div>


            <div class="team-card">
                <img src="/assets/img/rb_12831.png" alt="Nom du membre">
                <a  routerLink="/page2" target="_parent"> <h3 class="hh" style="color: #6A7BA2; text-decoration:underline ;">Environnemental</h3>         </a>
                
            </div>

        



        <div class="team-card">
            <img src="/assets/img/rb_44659.png" alt="Nom du membre">
            <h3  style="color: #6A7BA2; text-decoration:underline ;">Social</h3>
            
        </div>
    </div>
</section>
