/* Section de l'équipe */
.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    color: #ffffff;
    text-align: center;
}


.h1T{
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

/* Conteneur des cartes */
.team-container {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Carte de membre de l'équipe */
.team-card {

    border-radius: 8px;
    padding: 30px 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.team-card:hover {
    transform: scale(1.05);
}

/* Image du membre */
.team-card img {
    width: 100%;
    height: 70%;
    
    margin-bottom: 15px;
}

/* Nom du membre */
.team-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000000;
    text-transform: uppercase;
}

/* Informations de contact */
.contact-info {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Liste des spécialités */
.benefits-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.benefits-list li {
    font-size: 1rem;
    margin: 10px 0;
    position: relative;
    padding-left: 20px;
}

.benefits-list li::before {
    content: '✓';
    color: #e0a458;
    position: absolute;
    left: 0;
    font-size: 1.2rem;
}




/* Responsiveness */
@media (max-width: 768px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .team-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .team-card h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .team-card h3 {
        font-size: 1.2rem;
    }
}
