<h1 class="h1T">Home</h1>
<section class="team-section">

    <div class="team-container">
        <div class="team-card">
            <img src="/assets/img/curt-removebg-preview.png" alt="Nom du membre">
            <h3>Culturel</h3>
        </div>


            <div class="team-card">
                <img src="/assets/img/env-removebg-preview.png" alt="Nom du membre">
                <a routerLink="/page2" target="_parent"> <h3>Environnemental</h3>         </a>
                
            </div>

        



        <div class="team-card">
            <img src="/assets/img/soc-removebg-preview.png" alt="Nom du membre">
            <h3>Social</h3>
            
        </div>
    </div>
</section>
